---
import Default from '@layouts/default.astro';
---
<Default title="Blogs - Joshua Coquia's Website">
	<section class="content">
		<h2 id="Blogs">Blogs</h2>
		<p>I currently do not have any completed blogs. Come back later to see a blog!</p>
		<!-- TODO: complete first blog
			<section>
				<a href="/blogs/beginning/">
					<h3 id="Beginning">Beginning</h3>
					<small>In this blog, I write about beginning my website.</small>
				</a>
			</section>
		 -->
	</section>
</Default>