---
import Default from '@layouts/default.astro';
---
<Default>
	<section class="content">
		<h2 id="Contact%20Me">Contact Me</h2>
        <p><span>Email: </span><a href="mailto:joshua.coquia@hotmail.com">joshua.coquia@hotmail.com</a></p>
	</section>
</Default>