<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="The projects of an aspiring web developer." />
	<title>Projects - Joshua Coquia</title>
	<link rel="stylesheet" href="/styles.css" />
	<script type="module" src="/src/script.ts"></script>
</head>

<body>
	<section class="content">
		<h2 id="Projects">Projects</h2>
		<p>List of Projects:</p>
		<ol>
			<li><p><a href="#Personal%20Website">Personal Website</a></p></li>
		</ol>
		<section>
			<h3 id="Personal%20Website">Personal Website</h3>
			<p><span>Github Repo: </span><a href="https://github.com/JoshuaCoquia/personalwebsite/"><span>https://github.com/JoshuaCoquia/personalwebsite/</span></a></p>
			<p>This is my personal website.</p>
		</section>
	</section>
	<footer>
		<p>Thank you for visiting my website!</p>
		<p><span>Source Code: </span><a href="https://github.com/JoshuaCoquia/personalwebsite/">https://github.com/JoshuaCoquia/personalwebsite/</a></p>
	</footer>
</body>

</html>